.navbar {
  display: flex;
  align-items: center;
  padding-right: 3%;
  height: 60px;
  background-color: #01010166;
}

.navbar.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.div_logo_navbar {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.logo {
  width: auto;
  height: 60%;
}

.content-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div_auth_navbar {
  display: flex;
  justify-content: center;
  width: 15%;
  border: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 6px;
  margin-right: auto;
}

.btn_connexion {
  margin: auto;
}

.btn_inscription {
  margin: auto;
}

.div_marketplace_navbar {
  width: 50%;
  display: flex;
  margin-right: auto;
}

.div_navigation_navbar {
  width: 25%;
  display: flex;
  justify-content: center;
}

.btn_accueil,
.btn_roadmap,
.btn_team {
  color: white;
  margin: auto;
}

button {
  color: #ffb700;
  border: none;
  background-color: #1e3050;
  text-transform: uppercase;
  font-family: Lexend Deca;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}
